body {
  font-family: sans-serif;
}


h2 {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 1.75em;
  font-weight: bold;
  color: white;
  line-height: 1.2em;
}

h3 {
  color: white;
  font-size: 1.5em;
  font-weight: normal;
}

p {
  font-family: 'Helvetica', sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  color: white;
}

/* Header */

header {
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 64px;
}

header h1 {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 1.25em;
}

#highlight {
  color: rgb(75,67,245);
}

@media only screen and (min-width: 769px) {
  .mobile-icons {
    display: none;
  }

  .logo {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding-left: 10px;
  }

  .logo img {
    height: 50px;
  }

  header nav {
    padding-right: 24px;
  }

  nav span {
    padding-left: 16px;
    font-family: 'Merriweather Sans', sans-serif;
    color: rgb(75,67,245);
  }
}

@media only screen and (max-width: 768px) {
  header .logo, header nav {
    display: none;
    padding: none;
  }

  .mobile-icons {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
  }

}

/* Hero */

.hero {
  padding-top: 64px;
  width: 100%;
  background: rgb(34,166,195);
  background: linear-gradient(0deg, rgba(34,166,195,1) 20%, rgba(76,45,253,1) 91%);
  display: flex;
}

@media only screen and (min-width: 769px) {

  .hero img {
    width: 60%;
    height: 100%;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .hero-copy {
    width: 40%;
    align-self: center;
    flex-direction: column;
  }

  .hero h1 {
    width: 75%;
  }

  .hero h3 {
    width: 75%;
  }

  .button {
    width: 75%;
  }

}

.hero h1 {
  color: white;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 2em;
  font-weight: bold;
  line-height: 1.2em;
  padding-bottom: 0.5em;
}

.hero h3 {
  color: white;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 1.5em;
  padding-bottom: 1em;
}

.button {
  background-color: white;
  color: #4c2dfd;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 1.25em;
  font-weight: bold;
}

.button:hover {
  background-color: #4c2dfd;
  color: white;
}

@media only screen and (max-width: 768px) {
  .hero {
    display: flex;
    flex-direction: column;
  }

  .hero img {
    width: 100%;
  }

  .hero-copy {
    width: 100%;
    padding-top: 32px;
    padding-left: 16px;
    padding-bottom: 32px;
  }

  .button {
    width: 92%;
  }
}

/* Feature */

.overview {
  background: rgb(75,67,245);
  background: linear-gradient(0deg, rgba(75,67,245,1) 20%, rgba(45,166,193,1) 91%);
  width: 100%;
  display: flex;
}

.feature {
  width: 60%;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
}

.feature h2 {
  padding-bottom: 24px;
  font-size: 1.5em;
  font-weight: normal;
}

.feature img {
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
}

.feature h4 {
  font-size: .75em;
  padding-top: 15px;
  color: white;
}

@media only screen and (max-width: 768px) {
  .overview .feature {
    display: none;
  }
}

/* Feature Sidebar */

.sidebar {
  flex-direction: column;
  margin-right: 24px;
  width: 40%;
}

.overview .sidebar {
  padding-top: 32px;
}

.sidebar img {
  height: auto;
  width: 35%;
  padding: 0px 16px 16px 16px;
}

.sidebar p {
  padding-top: 8px;
  padding-bottom: 8px;
}

.section {
  display: flex;
  align-items: center;
}


.section-copy {
  flex-direction: column;
  width: 65%;
}

.alt-section {
  display: flex;
  align-items: center;
  background-color: white;
  padding-top: 16px;
  margin-bottom: 16px;
  padding-right: 8px;
}

.alt-section h3 {
  color: rgb(75,67,245);
}

.alt-section p {
  color: black;
}

@media only screen and (min-width: 769px) {
  .mobile-sidebar {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .mobile-sidebar {
    background: rgb(75,67,245);
    background: linear-gradient(0deg, rgba(75,67,245,1) 20%, rgba(45,166,193,1) 91%);
    display: flex;
    flex-direction: column;
  }

  .mobile-sidebar img {
    width: 92%;
    margin: 16px 16px 16px 16px;
  }

  .mobile-copy {
    padding-left: 32px;
  }
}


/* Course List */

.course-list {
  background: rgb(34,166,195);
  background: linear-gradient(0deg, rgba(34,166,195,1) 20%, rgba(76,45,253,1) 91%);
  width: 100%;
}

.course-list h2 {
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: white;
}

.course-list h3 {
  font-family: 'Merriweather Sans', sans-serif;
  color: rgb(75,67,245);
  padding-top: 5px;
  padding-bottom: 5px;
}

.course-list h5 {
  font-family: 'Merriweather Sans', sans-serif;
  color: rgb(36, 71, 143);
  padding-top: 8px;
  padding-bottom: 8px;
}

.course-list p {
  color: rgb(36, 71, 143);
}

.row {
  display: flex;
  padding-left: 72px;
  padding-right: 40px;
}

.course {
  background-color: white;
}

.course-copy {
  color: black;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 24px;
}

.course img {
  width: 100%;
}

@media only screen and (min-width: 769px) {
  .course {
    width: 33.3%;
    margin-right: 32px;
    margin-bottom: 32px;
    background-color: white;
  }
}

@media only screen and (max-width: 768px) {
  .course {
    margin-right: 32px;
    margin-bottom: 8px;
  }

  .course img {
    display: none;
  }

  .row {
    flex-direction: column;
  }

  .course p {
    display: none;
  }

  h5 {
    display: none;
  }
}

/* Thesis */

.thesis {
  background: rgb(75,67,245);
  background: linear-gradient(0deg, rgba(75,67,245,1) 20%, rgba(45,166,193,1) 91%);
  padding-bottom: 32px;
}

.thesis video {
  width: 100%;
  padding-bottom: 24px;
}

.thesis-grid {
  display: flex;
}

.headline {
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.thesis .section {
    align-self: flex-start;
}

@media only screen and (max-width: 768px) {
  .thesis-grid .feature {
    width: 100%;
  }

  .thesis-grid .sidebar {
    display: none;
  }

  .thesis-grid h2 {
    display: none;
  }

  .thesis-grid p {
    display: none;
  }

}

/* Footer */

footer {
  margin-left: 24px;
  margin-right: 24px;
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
}

footer span {
  flex-grow: 1;
}

footer nav {
}

@media only screen and (max-width: 768px) {
  footer nav {
    display: none;
  }
}
